table#my-table td {
    width: 50px;
    height: 27px;
    text-align: center;
    padding: 0;
}

.flex-button-column-plus-minus {
    border: none;
    background: none;
}
.component-position{
    display: flex;
}
.flex-container-row-plus-minus {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.flex-container-column-plus-minus{
    margin-top: 15px;
}
.component-table{
    /* margin-top: 30px;
    margin-left: -75px; */
}
.radio-button-display{
   display: none;
}
ul{
  border-left: 2px solid black;
}
.dl-horizontal-table{
  display: flex;
  flex-direction: row;
}
h2,h6{
  text-align: center;
}
.summary{
  text-align: left;
}
table#my-table td {
  height: 50px;
}
input:focus,
button:focus {
    outline: none;
}
input[type=file] {
    visibility: hidden;
    width: 50px;
    margin-bottom: -30px;
}
label{
  border: 2px #555555 solid;
  padding: 1px 6px;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}
